header {
    background-image: url("images/lesson04-mock2-banner-image.jpg"), linear-gradient(to right, #000 0%, #005F6B 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



body {
    font-family: Roboto, sans-serif;
    line-height: 155%;
    margin: 0;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 5rem 0 0 7rem;
    margin: 0;
}

h2 {
    color: white;
    padding: 0 0 3rem 7rem;
    font-weight: 400;
}

.top-nav {
    background-color: lightgray;
    padding: 1rem 0 1rem 7rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 5px 0 5px;
}

a {
    text-decoration: none;
    color: #303030
}

p {
    color: #303030;
    font-weight: 300;
    font-size: 1rem;
}

h3 {
    color: #303030;
    font-weight: bold;
}

.important {
    color: #005F6B;
    font-weight: 700;
    font-size: 1.25rem;
}

blockquote {
    color: #007E94;
    font-size: 1.5rem;
}

.blue-text {
    color: #005F6B;
    font-weight: bold;
}

figcaption {
    color: #303030;
}

figure {
    margin: 0;
}

footer {
    background-image: url("images/lesson04-mock4-footer-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #303030;
    text-align: center;
    padding: 5rem;
    clear: right;
}

.footer-text {
    color: white;
}

footer li {
    color: white;
}

footer a {
    color: white;
}

.box-one {
    box-sizing: border-box;
    width: 60%;
    padding: 3rem 0 3rem 7rem;
    margin: 0;
}

.box-two {
    box-sizing: border-box;
    width: 60%;
    padding: 0 0 3rem 7rem;
    margin: 0;
}

.aside-box {
    box-sizing: border-box;
    width: 35%;
    padding: 3rem 7rem 3rem 0;
    margin: 0;
    float: right;
}

.cat-img {
    width: 100%;

}

footer nav {
    padding: 1rem 0 1rem 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.fa-square-up-right {
    padding: .5rem;
}

.hidden {
    position: relative;
    left: -10000px;
    top: auto;
}

.hidden:focus {
    left: 0;
}

/** CSS for Profile Page **/

.profile {
    box-sizing: border-box;
    width: 43%;
    padding: .5rem;
    margin: 2px;
    border: 2px solid #00afc5;
}

.first-image {
    float: right;
    padding: .5rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.margin {
    margin: 3rem 0 2rem 7rem;
}